#root {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.list {
	width: 100%;
}

.title {
	align-self: center;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
}